<!DOCTYPE html>
<html>
<head>
  <title>Dmockcrazy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

  <div id="header">
    <a href="<%= root_url %>"><img src="<%= root_url %>assets/logo.png"></a>
  </div><!-- #header-->

  <div id="nav">
    <div id="nav-ribbon-left"></div>
    <div id="nav-ribbon-right"></div>

    <ul>
      <li>
        <% #link_to 'Admin', elections_path %>
      </li>
      <li>
        <%= link_to 'Vote!', vote_path %>
      </li>
      <li>
        <%= link_to 'Results', results_path %>
      </li>
      <li>
        <%= link_to "Admin", candidates_path %>
      </li>
      <li>
        <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </li>
      <% if admin_signed_in? %>
      <li>
            <%= link_to "Sign Out As Admin", destroy_admin_session_path, :method => :delete %>
      </li>
      <% end %>
    </ul>
  </div><!-- #nav-->



  <div id="content">
    <p class="notice" id="notice"><%=  notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div><!-- #content-->

</div><!-- #wrapper -->

<!--<div id="footer">
</div>--><!-- #footer -->
</body>
</html>
